.hero {
  height: 616px;
  padding-top: 78px;
  padding-bottom: 106px;
  background-image: url('/images/hero/hero-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('/images/hero/hero-mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    height: 865px;
    padding-top: 118px;
    background-image: url('/images/hero/hero-tablet.jpg');
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url('/images/hero/hero-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    height: 833px;
    padding-top: 205px;
    background-image: url('/images/hero/hero-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url('/images/hero/hero-desktop@2x.jpg');
    }
  }

  &Wrap {
    height: 616px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      height: 865px;
      justify-content: flex-start;
      gap: 78px;
    }
    @media screen and (min-width: 768px) {
      height: 833px;
      gap: 72px;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &Title {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.21;

    @media screen and (min-width: 768px) {
      font-size: 64px;
      line-height: 1.21;
    }
  }

  &Text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      line-height: 1.17;
    }
  }

  &Btn {
    @media screen and (min-width: 768px) {
      width: 317px;
    }
  }
}
