.socials {
  display: flex;
  justify-content: center;
  gap: 80px;

  &--footer {
    gap: 24px;
  }

  &__item {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;
    border-radius: 50%;

    &--footer {
      width: 44px;
      height: 44px;
      border-color: $color-grey;
      background-color: $color-grey;
    }
  }
}
