.section {
  padding-top: 42px;
  padding-bottom: 42px;

  &PtNull {
    padding-top: 0;
  }

  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 48px;

    &PtNull {
      padding-top: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 68px;
    padding-bottom: 68px;

    &PtNull {
      padding-top: 0;
    }
  }
}
