.title {
  //LORA font
  color: var(--color-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.28;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 1.28;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.28;
  }
}
